/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #22243a;
}

.modal h2 {
    margin: 0 0 25px 0;
    font-size: 30px;
}

.modal h3 {
    margin: 25px 0;
    font-size: 20px;
}

.modal button {
    margin: 0 20px;
    text-align: center;
    padding: 10px 15px;
}

/* Modal Content */
.modal-content {
    margin: 0 auto;
    position: relative;
    background-color: #22243a;
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.variations {
    margin-bottom: 150px;
    position: relative;
    height: 100%;
    width: 210px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1100px) {

    .modal h2 {
        margin: 0 0 15px 0;
        font-size: 22px;
    }

    .modal h3 {
        font-size: 18px;
    }

    .variations {
        width: 100vw;
        margin-bottom: 25px;
        flex-direction: row;
        flex-wrap: wrap;
    }

}