/* UNIFONT: https://unifoundry.com/unifont/index.html */
@font-face {
    font-family: 'Unifont';
    src:  url('fonts/Unifont.woff') format('woff'),
          url('fonts/Unifont.svg#Unifont') format('svg'),
          url('fonts/Unifont.eot'),
          url('fonts/Unifont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*****************/
/* GLOBAL STYLES */
/*****************/

body {
    background: #2d2f4b;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Unifont', sans-serif;
    margin: 0;
    text-align: center;
}

footer {
    width: 300px;
    margin: 10px auto;
    font-size: 14px;
}

a, a:visited, a:active, a:focus {
    text-decoration: none;
    color: #aaaaaa;
}

a:hover {
    text-decoration: none;
    color: #777777;
}

button {
    font-family: 'Unifont', sans-serif;
    border-radius: 15px;
    border: 1px solid #0d0e16;
}

button, button:visited, button:active, button:focus {
    color: #FFFFFF;
    background: #161726;
}

button:hover {
    color: #FFFFFF;
    background: #22243a;
}

input {
    background: #161726;
    color: #FFFFFF;
    border: 2px solid #000000;
    padding: 2px;
    font-size: 14px;
    border-radius: 35px;
    height: 26px;
}

h3 {
    font-size: 25px;
    margin: 10px 0;
}

hr {
    width: 1000px;
}

/******************/
/* GLOBAL CLASSES */
/******************/

.active, .active:visited, .active:active, .active:focus, .active:hover {
    color: #FFFFFF;
    background: #2d2f4b;
}

.text {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.text ul {
    text-align: left;
    font-size: 25px;
    list-style-type: circle;
}

.text li {
    margin: 10px;
}

#showcase-gif {
    margin: 15px auto;
    height: 500px;
    width: 500px;
}

/**************/
/* GLOBAL IDs */
/**************/

#about {
    margin-top: 15px;
    padding: 10px;
    font-size: 26px;
}

#about big {
    font-size: 45px;
}

#about small {
    font-size: 20px;
}

#about p {
    margin: 0;
}

#container {
    margin: 0 auto;
    background: #22243a;
    height: 100%;
    min-height: 800px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

/**************/
/* NAVIGATION */
/**************/

#nav {
    width: 1100px;
    height: 65px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #161726;
}

#nav button {
    width: 110px;
    height: 65px;
    border-radius: 0;
    border: none;
    margin: 0;
}

#nav p {
    font-size: 16px;
}

#simple-nav, #ext-nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/**************/
/* ADMIN PAGE */
/**************/

#login, #admin {
    width: 1000px;
    margin: 25px auto;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

#login form {
    flex-direction: row;
}

#login button {
    width: 100px;
    height: 35px;
}

.fail {
    margin: 15px 0;
    font-size: 14px;
    color: #CC0000;
}

/****************/
/* FILTER PAGES */
/****************/

.label, .label:visited, .label:active, .label:focus {
    background: #2d2f4b;
}

.label:hover {
    background: #22243a;
}

.label {
    width: 250px;
    height: 250px;
    font-size: 24px;
    border: 1px solid #FFFFFF;
    border-radius: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.label p {
    font-size: 24px;
    margin: 10px 0;
}

.drop {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.filters {
    margin: 0;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.filters button {
    width: 485px;
    height: 50px;
    font-size: 18px;
}

.drop-btn {
    margin: 25px 0;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.drop-btn button {
    width: 1000px;
    height: 60px;
    font-size: 36px;
}

.comp {
    margin: 40px auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.comp p {
    width: 150px;
    text-align: center;
    font-size: 24px;
}

.comp img {
    width: 250px;
    height: 250px;
    border: 1px solid #FFFFFF;
    border-radius: 150px;
}

.showcase {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.img-border {
    margin: 0;
    width: 210px;
    height: 210px;
    border: 5px solid #FFFFFF;
    border-radius: 0;
}

.showcase-img {
    padding: 0;
    margin: -2px 0;
    position: relative;
}

.img-id {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #FFFFFF;
    font-size: 25px;
    mix-blend-mode: difference;
}

.category h2 {
    margin: 20px 0;
    padding: 5px 300px;
    background: #2d2f4b;
    border-radius: 15px;
}

/**************/
/* LINKS PAGE */
/**************/

.links {
    margin: 25px 0 50px 0;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.links button {
    margin: 5px;
    width: 485px;
    height: 50px;
    font-size: 18px;
}

/************/
/* GIF PAGE */
/************/

.gif-btn {
    margin: 5px;
    width: 100px;
    height: 100px;
    background-size: contain;
    display: flex;
    align-items: flex-end;
}

.gif-btn img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    filter: grayscale(100%);
}

.gif-btn, .gif-btn:active, .gif-btn:visited {
    opacity: 0.5;
}

.gif-btn img:hover {
    filter: grayscale(0%);
}

.gif-btn:hover, .gif-btn:focus {
    opacity: 1;
}

.gif-id {
    padding: 0;
    margin: 0;
    width: 100px;
    background: #22243a;
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
}

/***********/
/* ORIGINS */
/***********/

.lore {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.lore p {
    text-align: left;
    font-size: 14px;
    width: 600px;
}

.lore h4 {
    font-size: 16px;
    margin: 15px 0 0 0;
}

.char {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.char img {
    border: 5px solid #FFFFFF;
}

.grave-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.grave-btn {
    margin: 0 5px 0 0;
    padding: 5px 15px;
}

/***********/
/*  DROPS  */
/***********/

#drop1 { display: none; }
#drop2 { display: none; }
#drop3 { display: none; }
#drop4 { display: none; }
#drop5 { display: none; }
#drop6 { display: none; }
#drop7 { display: none; }
#drop8 { display: none; }
#drop9 { display: none; }
#drop10 { display: none; }
